@model FoodOrder.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="toast-header">Chỉnh sửa quyền truy cập</h2>
    <div class="card-subtitle">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item">Home</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item">Quản lý quyền truy cập</a>
            <span class="breadcrumb-item active">Chỉnh sửa quyền truy cập</span>
        </nav>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br /><hr />
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                <a class="btn btn-outline-dark" asp-action="Index">Trở về danh sách</a>
            </div>
        </form>
    </div>
    
    

</div>

