<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Liên hệ chúng tôi qua
                    </h4>
                    <div class="contact_link_box">
                        
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +84 52723945
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                foodorder_res98@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        FoodOrder
                    </a>
                    <p>
                       Chúng tôi sẵn lòng phục vụ quý khách. Liên hệ trực tiếp với chúng tôi qua
                    </p>
                    <div class="footer_social">
                        <a href="https://www.facebook.com/keyty2003/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                       
                        <a href="https://www.instagram.com/ktee_khoatai/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Khung giờ hoạt động
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 AM -10.00 PM
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
