<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    FoodOrder - Nơi hội tụ hương vị độc đáo và tinh hoa ẩm thực! Với thực đơn đa dạng, chúng tôi mang đến cho bạn những món ăn nhanh tuyệt hảo. Từ bánh mì thơm ngon, burger tươi sống đến các món sandwich đặc biệt, bạn sẽ không thể cưỡng lại được hương vị tuyệt vời này. Hãy ghé thăm Tài Tín ngay hôm nay và trải nghiệm một trải nghiệm ẩm thực độc đáo!
                                </p>
                                <div class="btn-box">
                                    <a asp-controller="Home" asp-action="Index" class="btn1">
                                        Đặt ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    FoodOrder - Nhanh chóng, ngon lành và tiện lợi! Với phương châm phục vụ nhanh chóng và chất lượng, chúng tôi mang đến cho bạn những món ăn thơm ngon trong thời gian ngắn nhất. Bạn có thể thưởng thức các combo ưu đãi, từ bữa trưa đáng nhớ đến bữa tối thú vị. Dù bạn đang trong thời gian vội vã hay muốn tận hưởng một bữa ăn nhanh đầy đủ, Tài Tín sẽ là sự lựa chọn hoàn hảo!
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đặt ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Fast Food Restaurant
                                </h1>
                                <p>
                                    FoodOrder - Nơi đáng tin cậy cho thực khách yêu thích thức ăn nhanh! Với chất lượng không đổi và sự phục vụ tận tâm, chúng tôi tự hào là điểm đến hàng đầu cho mọi tín đồ ẩm thực. Với nguyên liệu tươi ngon và quy trình chế biến chuyên nghiệp, chúng tôi cam kết mang đến cho bạn những món ăn nhanh tuyệt vời. Hãy đến Tài Tín và tận hưởng những trải nghiệm ẩm thực đáng nhớ!
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Đặt ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>