
@{
    ViewData["Title"] = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_area">
    <div class="bg-box">
        <img src="~/images/hero-bg.jpg" alt="">

    </div>
    @await Html.PartialAsync("_HeaderPartialView")
</div>
<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
               
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We are FoodOrder
                        </h2>
                    </div>
                    <p>
                        Chào mừng bạn đến với FoodOrder - Trang web đặt thức ăn nhanh hàng đầu! Chúng tôi tự hào mang đến cho bạn trải nghiệm ẩm thực tuyệt vời ngay tại ngôi nhà của bạn. Với FoodOrder, bạn có thể khám phá một thế giới đa dạng của các món ăn ngon lành, từ món pizza thơm ngon, burger tươi sống cho đến món sushi tinh tế. Với sự tiện lợi của việc đặt hàng trực tuyến và giao hàng nhanh chóng, chúng tôi đảm bảo rằng bạn sẽ có một bữa ăn đáng nhớ. Hãy truy cập vào FoodOrder ngay hôm nay và khám phá các lựa chọn thực đơn hấp dẫn của chúng tôi!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var elements = document.getElementsByClassName("about"); 

    for (var i = 0; i < elements.length; i++) {
        if (elements[i].classList) {e
            elements[i].classList.add("active"); 
        } else {
            elements[i].className += " active"; 
        }
    }
</script>

